/*For login page*/

.Login .mail {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 300px;
}

.Login {
    /*background: #caf1f9;*/

    background-image: url("mail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Login h1 {
    color: #298edb;
    font-size: 500%;
}

.Login p {
    font-size: 120%;
}


/*For home page*/
.Home {
    background-color: #f5f5f5;
    background-repeat: no-repeat;
}

.Home .navbar {
    background-color: #b4b7ba;
}

.Home .welcome {
    position: relative;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 250px;
}

.Home .navbar .nav a{
    color: #ffffff;
}

.Home a {
    color: #7f7e7e;
}

.Home .nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #717070;
}

.Home .compose {
    position: relative;
    left: 6%;
    text-align: left;
    line-height: 60%;
}

.Home .check {
    position: relative;
    left: 6%;
    text-align: left;
    line-height: 60%;
}

.Home .add {
    position: relative;
    left: 6%;
    text-align: left;
    line-height: 60%;
}

.Home .rename {
    position: relative;
    left: 6%;
    text-align: left;
    line-height: 60%;
}

.Home .btn {
    background-color: #b4b7ba;
    color: #ffffff;
    width: 80%;
    text-align: left;
}

.Home .btn-xs {
    position: relative;
    left: -3%;
    text-align: left;
}

.Home .glyphicon{
    float: right;
    padding-left: 10px;
}




