<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Password</title>
    <link rel="shortcut icon" href="http://1000hz.github.io/bootstrap-validator/assets/ico/favicon.png">
    <link rel="stylesheet" href="../validator/bootstrap.css" />
    <link rel="stylesheet" href="../validator/formValidation.css" />
    <script type="text/javascript" src="../validator/jquery.min.js"></script>
    <script type="text/javascript" src="../validator/bootstrap.min.js"></script>
    <script type="text/javascript" src="../validator/formValidation.js"></script>
    <script type="text/javascript" src="../validator/bootstrap.js"></script>
    <script type="text/javascript" src="../changepwd.js"></script>
    <link href="../custom.css" type="text/css" rel="stylesheet">
</head>

<body class="Changepwd">
    <div class="container">
        <div class="row">
            <div class="change col-lg-8 col-lg-offset-2">
                <form id="changepwdForm" method="post" class="form-horizontal" action="/registerSubmit">
                    <h3 class="text-primary text-center">Change Password</h3>
                    <hr>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Current Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="currentPWD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">New password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="newPWD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">Retype password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="confirmPWD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="save col-lg-6 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>