<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Page</title>
    <link rel="shortcut icon" href="http://1000hz.github.io/bootstrap-validator/assets/ico/favicon.png">
    <link rel="stylesheet" href="../validator/bootstrap.css" />
    <link rel="stylesheet" href="../validator/formValidation.css" />
    <script type="text/javascript" src="../validator/jquery.min.js"></script>
    <script type="text/javascript" src="../validator/bootstrap.min.js"></script>
    <script type="text/javascript" src="../validator/formValidation.js"></script>
    <script type="text/javascript" src="../validator/bootstrap.js"></script>
    <script type="text/javascript" src="../register.js"></script>
    <link href="../custom.css" type="text/css" rel="stylesheet">
</head>

<body class="Register">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <img class="welcome" src="../Welcome.png">
                </div>
                <form id="registerForm" method="post" class="form-horizontal" action="http://localhost:8080/registerSubmit">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Username</label>
                        <div class="col-lg-5">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">WebMail Password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="webmailPwd" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Retype password</label>
                        <div class="col-lg-5">
                            <input type="password" class="form-control" name="confirmWebMailPassword" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>